body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.head {
  width: calc(100% - 4em);
  background: #e9e9e9;
  margin: 2em;
}

.head-title {
  width: 75%;
  font-size: 24px; 
  float: left;
  text-align: left;
}

.head-language {
  width: 25%;
  float: left;
  text-align: right;
}

.head-language select {
  width: 80%;
}